<div class="main-content">
  <h1>Welcome to the Amars News Portal</h1>
  <p>Stay informed with the latest updates, trends, and stories.</p>
  <div class="news-grid">
    <div class="news-item">
      <img
        src="https://media.istockphoto.com/id/1369150014/vector/breaking-news-with-world-map-background-vector.jpg?s=612x612&w=0&k=20&c=9pR2-nDBhb7cOvvZU_VdgkMmPJXrBQ4rB1AkTXxRIKM="
        alt="Breaking News"
      />

      <h3>Breaking News</h3>
      <p>Here are put breaking news.</p>
    </div>
    <div class="news-item">
      <img
        src="https://media.istockphoto.com/id/1369150014/vector/breaking-news-with-world-map-background-vector.jpg?s=612x612&w=0&k=20&c=9pR2-nDBhb7cOvvZU_VdgkMmPJXrBQ4rB1AkTXxRIKM="
        alt="Breaking News"
      />

      <h3>Bussiness</h3>
      <p>Discover the latest in tech and innovation.</p>
    </div>
    <div class="news-item">
      <img
        src="https://media.istockphoto.com/id/1369150014/vector/breaking-news-with-world-map-background-vector.jpg?s=612x612&w=0&k=20&c=9pR2-nDBhb7cOvvZU_VdgkMmPJXrBQ4rB1AkTXxRIKM="
        alt="Breaking News"
      />

      <h3>Sports</h3>
      <p>Catch up on all the sports action around the globe.</p>
    </div>
    <div class="news-item">
      <img
        src="https://media.istockphoto.com/id/1369150014/vector/breaking-news-with-world-map-background-vector.jpg?s=612x612&w=0&k=20&c=9pR2-nDBhb7cOvvZU_VdgkMmPJXrBQ4rB1AkTXxRIKM="
        alt="Breaking News"
      />

      <h3>Entertainment</h3>
      <p>Your source for movies, music, and pop culture.</p>
    </div>
  </div>
</div>
